@import url('https://fonts.googleapis.com/css?family=Raleway:300');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: visible;
}

.slick-slide img {
    max-width: 100%;
}

.gg_context_row {
    display: none !important;
}

body {
    overflow: visible;
}

.body_ {
    position: relative;
}

#canvas {
    display: table;
    max-width: 100%;
    margin: 0 auto;
}

path {
    stroke: white !important;
}

div#status h2 {
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 4px;
    padding-bottom: 25px;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 9999;
}

#status {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

:focus {
    outline: none !important;
}

#map {
    height: 300px;
}

.outer-about-wrap {
    position: fixed;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 33.33%;
    background-color: transparent;
    z-index: 9999;
    transition: all .4s ease;
}

.outer-about-wrap.open {
    bottom: 0;
}

.about-content-wrap {
    background: rgba(255, 255, 255, 0.95);
    margin-top: 80px;
    position: relative;
    display: table;
    width: 100%;
}

.about-content-inside {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.about-content-inside hr {
    width: 20%;
    float: left;
}

.about-content-inside h2 {
    letter-spacing: 5px;
}

.about-content-inside p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
}

#btnCloseAbout {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
}

.img-responsive {
    max-width: 75%;
    margin: 0 auto;
    display: table;
}

.ggskin.ggskin_svg {
    background: #e2c03b;
    border-radius: 50%;
    z-index: 1 !important;
}

img.ggskin.ggskin_svg {
    display: none;
}

.ggskin.ggskin_image {
    display: none;
}

.ggskin.ggskin_text {
    display: none;
}

.ggskin.ggskin_svg:before {
    content: "";
    width: 36px;
    height: 36px;
    position: relative;
    display: table;
    border: 2px solid rgb(227, 186, 42);
    border-radius: 50%;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    margin-top: -4px;
    margin-left: -4px;
}

/* *********************************************************************** */

.outer-contact-wrap {
    position: fixed;
    bottom: -100%;
    right: 0;
    height: 100%;
    width: 33.33%;
    background-color: transparent;
    z-index: 9999;
    transition: all .4s ease;
}

.outer-contact-wrap.open {
    bottom: 0;
}

.contact-content-wrap {
    background: rgba(255, 255, 255, 0.95);
    margin-top: 80px;
    position: relative;
    display: table;
    width: 100%;
}

.contact-content-inside {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-content-inside hr {
    width: 20%;
    float: left;
}

.contact-content-inside h2 {
    letter-spacing: 5px;
}

.contact-content-inside p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#btnCloseContact {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
}

.mapa {
    width: 100%;
    margin-top: 40px;
}

.mapa iframe {
    width: 100%;
    height: auto;
}

/* ************************************************************** */

.outer-gallery-wrap {
    position: fixed;
    bottom: -100%;
    /* left: 5%; */
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 99999;
    transition: all .4s ease;
}

.outer-gallery-wrap.open {
    bottom: 0;
}

.gallery-content-wrap {
    background: black;
    margin-top: 92px;
    position: relative;
    display: block;
    width: 100%;
}

.gallery-content-inside {
    display: block;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.gallery-content-inside hr {
    width: 10%;
    float: left;
}

#btnCloseGallery {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 25px;
    right: 25px;
}

#btnCloseGallerySmall, #btnCloseContactSmall, #btnCloseAboutSmall {
    display: none;
}

/* **************************************************************** */
header {
    background: url(../images/header-footer.jpg);
    width: 100%;
    height: 60px;
    padding: 10px 0;
    text-align: center;
}

header img {
    display: inline-block;
    height: 60px;
    padding-top: 3px;
}

#sv-container {
    width: 100%;
}

.sv-wrap {
}

#sv-container {
}

footer {
    background: url("../images/header-footer.jpg");
    width: 100%;
    float: left;
}

footer .footer-bottom {
    float: left;
    width: 33.33%;
    text-align: center;
}

footer .footer-bottom:nth-child(2) {
    background-color: #e3ba2a;
}

p#btnGallery {
    background: #e3ba2a;
}

footer .footer-bottom p {
    margin: 0;
    line-height: 80px;
}

footer .footer-bottom p a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 7px;
}

footer .footer-bottom:nth-child(2) p a {
    color: #000;
}

.fa {
    font-size: 20px !important;
    margin-right: 20px;
}

p.copyright {
    text-align: center;
}

@media only screen and (max-width: 1366px) {

    .img-responsive {
        max-width: 100%;
    }

}

@media only screen and (max-width: 1000px) {
    footer .footer-bottom p a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    footer .footer-bottom p {
        line-height: 60px;
    }

    .gallery_slider {
        padding-top: 25%;
    }

    footer .footer-bottom p a {
        font-size: 18px;
        letter-spacing: 7px;
    }
}

@media only screen and (max-width: 600px) {
    footer .footer-bottom p {
        line-height: 45px;
    }

    footer .footer-bottom p a {
        font-size: 15px;
        letter-spacing: 5px;
    }

    .gallery-content-inside {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 550px) {
    .about-content-inside h2 {
        letter-spacing: 3px;
    }

    .about-content-inside p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-content-inside h2 {
        letter-spacing: 3px;
    }

    .contact-content-inside p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 55px;
    }

    header img {
        height: 55px;
    }

    footer .footer-bottom p a {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .contact-content-wrap, .about-content-wrap, .gallery-content-wrap {
        margin-top: 75px;
        /*background: white;*/
    }

    .outer-gallery-wrap, .outer-about-wrap, .outer-contact-wrap {
        width: 100%;
        left: 0%;
        z-index: 9999;
    }

    #btnCloseGallery, #btnCloseContact, #btnCloseAbout {
        display: none;
    }

    #btnCloseGallerySmall, #btnCloseContactSmall, #btnCloseAboutSmall {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 99;
    }
}

@media only screen and (max-width: 450px) {
    header {
        height: 50px;
    }

    .contact-content-wrap, .about-content-wrap, .gallery-content-wrap {
        margin-top: 70px;
    }

    header img {
        height: 50px;
    }

    footer .footer-bottom p a {
        font-size: 10px;
        letter-spacing: 2px;
    }

    footer .footer-bottom p {
        line-height: 40px;
    }
}

.square1 img {
    border: 2px solid #e3ba2a;
}

.square2 img {
    border: 2px solid #e3ba2a;
}

.square3 img {
    border: 2px solid #e3ba2a;
}

/***************** hovering squares ******************/

.square1 img:hover {
    cursor: pointer;
    opacity: 0.4;
    border: 4px solid #ccc;
}

.square2 img:hover {
    cursor: pointer;
    opacity: 0.4;
    border: 4px solid #ccc;
}

.square3 img:hover {
    cursor: pointer;
    opacity: 0.4;
    border: 4px solid #ccc;
}

h3 span {
    color: #e3ba2a;
    font-weight: 700;
}

.headings h1 {
    font-weight: 700;
    font-size: 70px;
}

.headings h3 span {
    font-size: 30px;
    margin-right: 3%;
}

.pictures img {
    max-width: 100%;
}

@media only screen and (max-width: 770px) {
    .pictures {
        width: 100%;
    }

    .headings {
        width: 100%;
        text-align: center;
    }

    .headings h1 {
        font-size: 50px;
    }
}


@media only and (max-width: 400px){
    .headings h1 {
        font-size: 33px;
    }
}







